<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>App</title>
  <link href="{{ base_url() }}/css/app.css" rel="stylesheet" type="text/css">
</head>
<body>
  <section id="app">
      <section class="container">
      <h2 class="logo">MultiNews</h2>
      {% include 'partials/_navigation.twig' %}

      <section class="content">
        {% block content %}{% endblock %}
      </section>
    </section>
  </section>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.2/axios.min.js"></script>
  <script src="https://unpkg.com/vue@2.4.4/dist/vue.js"></script>
  <script src="https://use.fontawesome.com/1b21219bb9.js"></script>
  <script src="{{ base_url() }}/js/app.js"></script>
</body>
</html>
