<nav>
  <a href="#" @click.prevent="load('hackernews')">Hacker News</a>
  <a href="#" @click.prevent="load('reddit')">Reddit</a>
  <a href="#" @click.prevent="load('producthunt')">Product Hunt</a>
  <a href="#" @click.prevent="load('bbcnews')">BBC News</a>
  <a href="#" @click.prevent="load('thetelegraph')">The Telegraph</a>
</nav>
