<nav>
  <section class="logo">
    <a href="/">Distract Free News</a>  
  </section>

  <section class="bars right">
    <i class="fa fa-bars"></i>
  </section>

  <section class="mobile-nav">
    <a href="#" @click.prevent="load('bbcnews')" class="bbcnews">BBC News</a>
    <a href="#" @click.prevent="load('bbcsport')" class="bbcsport">BBC Sport</a>
    <a href="#" @click.prevent="load('thetelegraph')" class="thetelegraph">The Telegraph</a>
    <a href="#" @click.prevent="load('theindependent')" class="theindependent">The Independent</a>
    <a href="#" @click.prevent="load('hackernews')" class="hackernews">Hacker News</a>
    <a href="#" @click.prevent="load('reddit')" class="reddit">Reddit</a>
    <a href="#" @click.prevent="load('producthunt')" class="producthunt">Product Hunt</a>
  </section>
</nav>
