/* Base Styles */
* { box-sizing: border-box; }

html,
body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 400;
  height: 100vh;
  margin: 0;
}

.center {
  transform: translate(-50%, -50%);
  position: relative;
  left: 50%;
  top: 50%;
}

.uppercase { text-transform: uppercase; }
.right { float: right; }
.left { float: left; }

.container {
  padding: 25px 20px 45px 20px;
  margin: 0 auto;
}

@media (min-width: 700px) {
  .container { padding: 25px 120px 45px 120px; }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  color: #52616a;
}

p, a {
  letter-spacing: .1rem;
  line-height: 1.7;
  font-size: 13px;
  margin: 0 auto;
}

a {
  text-decoration: none !important;
  font-weight: 700;
}

img {
  max-width: 100%;
  margin: 0 auto;
}

.title {
  text-align: center;
  padding: 40px 0;
  margin: 0;
}

/* Navigation */
nav {
  border-bottom: 1px solid #f0f5f9;
  background: white;
  position: fixed;
  z-index: 999;
  width: 100vw;
}

nav .right {
  display: none;
}

nav .bars.right { display: block; }

nav a {
  transition: all .1s ease-in-out;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 400; 
  padding: 28px 10px;
  font-size: 12px;
}

nav a:nth-last-child() { margin-right: 0; }
nav a:hover { color: white; }

nav .theindependent:hover { background: #EA182A; }
nav .thetelegraph:hover { background: #EEE6DA; }
nav .producthunt:hover { background: #D54B29; }
nav .hackernews:hover { background: #FF5A00; }
nav .bbcnews:hover { background: #B31718; }
nav .reddit:hover { background: #C7DFF7; }

nav .mobile-nav.opened {
  position: absolute;
  background: white;
  min-height: 100vh;
  margin-top: 46px;
  width: 100vw;
  left: 0;
}

nav .mobile-nav.opened a {
  text-align: center;
  padding-top: 25px;
  display: block;
}

@media (min-width: 700px) {
  nav .right { display: block; }
  nav .bars.right { display: none; }
}

/* Home */
h2.logo { font-size: 3em; }
.content { padding-top: 7vh; }

.item { margin-bottom: 1vh; }

.item__title {
  margin-bottom: .5vh;
  font-weight: 400;
  font-size: 1em;
}

.item__service {
  font-size: .8em;
  color: #ccc;
}

.item__content {
  margin-top: 1.4vh;
  font-size: 1em;
}

.loading { font-size: .9em;  }
