/* Base Styles */
* { box-sizing: border-box; }

html,
body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  overflow-x: hidden;
  font-weight: 400;
  height: 100vh;
  margin: 0;
}

.clearfix:before,
.clearfix:before {
  display: table;
  content: " ";
}

.clearfix:after {
  clear: both;
}

.center {
  transform: translate(-50%, -50%);
  position: relative;
  left: 50%;
  top: 50%;
}

.uppercase { text-transform: uppercase; }
.right { float: right; }
.left { float: left; }

.container {
  padding: 12vh 0;
  margin: 0 auto;
  width: 95vw;
}

@media (min-width: 700px) {
  .container {
    margin-left: 18vw;
    padding: 0;
  }
}

span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  font-weight: 400;
  color: #52616a;
}

p, a {
  letter-spacing: .1rem;
  line-height: 1.7;
  font-size: 14px;
  margin: 0 auto;
}

a {
  text-decoration: none !important;
  font-weight: 700;
}

a:focus { outline: 0; }

img {
  max-width: 100%;
  margin: 0 auto;
}

@media (min-width: 700px) {
  img { max-width: 33vw; }
}

.title {
  text-align: left;
  font-weight: 400;
  padding: 40px 0;
  margin: 0;
}

/* Navigation */
nav {
  border-bottom: 2px solid #DCE1E5;
  background: #f0f5f9;
  position: fixed;
  z-index: 999;
  width: 100vw;
  top: 0;
}

nav .logo {
  padding: 3vh 5vw;
  float: left;
}

hr.nav-break {
  border: 1px solid #DCE1E5;
  margin: 0;
}

nav .mobile-nav { display: none; }

nav .bars {
  padding: 3.2vh 5vw;
  color: #52616a;
  display: block;
  float: right;
}

nav a {
  transition: all .1s ease-in-out;
  text-align: center;
  font-weight: 400;
  padding: 2vh 0;
}

nav .mobile-nav a.active,
nav .mobile-nav a:hover { color: white; }

nav .theindependent.active,
nav .theindependent:hover { background: #EA182A; }

nav .ladbible.active,
nav .ladbible:hover { background: #000000; }

nav .thetelegraph.active,
nav .thetelegraph:hover { background: #EEE6DA; }

nav .producthunt.active,
nav .producthunt:hover { background: #D54B29; }

nav .hackernews.active,
nav .hackernews:hover { background: #FF5A00; }

nav .bbcsport.active,
nav .bbcsport:hover { background: #FFCB2B; }

nav .bbcnews.active,
nav .bbcnews:hover { background: #B31718; }

nav .reddit.active,
nav .reddit:hover { background: #C7DFF7; }

nav .settings.active,
nav .settings:hover { background: #DCE1E5; }


nav .mobile-nav.opened {
  position: absolute;
  background: inherit;
  min-height: 100vh;
  margin-top: 9.5vh;
  width: 100vw;
  left: 0;
}

nav .mobile-nav.opened a {
  position: relative;
  text-align: center;
  padding: 15px 0;
  display: block;
}

@media (min-width: 700px) {
  nav .bars { display: none; }

  nav {
    border-right: 2px solid #DCE1E5;
    height: 100vh;
    width: 15vw;
  }

  nav .logo {
    text-align: center;
    float: inherit;
    padding: 3vh 0;
  }

  nav .mobile-nav { display: block; }
  nav .mobile-nav a { display: block; }
}

/* Home */
.item { margin-bottom: 4vh; }
.loading { font-size: .9em;  }

.item__title {
  margin-bottom: .4vh;
  margin-top: .9vh;
}

.item__author,
.item__reddit {
  display: inline-block;
}

.item__author p,
.item__reddit p,
.item__reddit a {
  margin-bottom: 1.6vh;
  margin-top: -1vh;
  font-size: .7em;
  color: #38414f;
}

.item__content p { font-size: .8em; }

@media (min-width: 700px) {
  .item { margin-bottom: 2vh; }
  
  .item__title,
  .item__content { width: 43vw; }
}

/* modal */
.modal {
  box-shadow: 0px 0px 0px 3000px rgba(0,0,0,.5);
  transform: translate(-50%, -50%);
  background: #4B6482;
  position: fixed;
  height: 100vh;
  z-index: 999;
  width: 100vw;
  left: 50%;
  top: 50%;
}

@media (min-width: 700px) {
  .modal {
    height: 350px;
    width: 450px;
  }
}

label .checked + span,
.modal-header h4 { color: white; }

.modal-header { padding: 10px 0; }

.modal-exit {
  transition: all .1s ease-in-out;
  border: 2px solid white;
  position: relative;
  font-weight: 400;
  cursor: pointer;
  padding: 10px;
  color: white;
  width: 100%;
  top: 30px;
}

.modal-exit:hover {
  background: white;
  color: #4B6482;
}

.modal-message {
  text-align: center;
  margin: auto;
}

.modal .column {
  display: inline-block;
  float: left;
  width: 100%;
}

@media (min-width: 700px) {
  .modal .column {
    width: 50%;
  }
}

.fade-enter-active, .fade-leave-active { transition: opacity .5s; }
.fade-enter, .fade-leave-to { opacity: 0; }
.modal-message h2 { text-align: center; }

label { margin: 1vh; }

label input[type="checkbox"] {
  display: none;
  float: left;
}

label .checked + span {
  transition: all .1s ease-in-out;
  text-decoration: line-through;
  text-align: center;
  display: block;
  opacity: .7;
}

label .checked:checked + span {
  text-decoration: none;
  opacity: 1;
}
