{% extends 'app.twig' %}

{% block content %}
  <section class="loading" v-if="loading">
    One Moment
  </section>

  <section class="item" v-for="item in items" v-else> <!-- start vue -->
    <img :src="item.image" :alt="item.service" v-if="item.image !== null">

    <h3 class="item__title">
      <a :href="item.link" target="_blank">
        ${ item.title }
      </a>
    </h3>

    <section class="item__author" v-if="item.author !== null">
      <p>Author: ${ item.author }</p>
    </section>

    <section class="item__reddit" v-if="item.subreddit !== null">
      <p>| Subreddit: <a :href="item.subreddit_link" target="_blank">r/${ item.subreddit }</a></p>
    </section>

    <section class="item__content" v-if="item.content !== null">
      <p>${ item.content }</p>
    </section>
  </section> <!-- end vue -->

  <transition name="fade">
    <section class="modal" v-show="settings_modal">
      <section class="modal-message">
        <section class="modal-header">
          <h4>Settings</h4>
        </section>

        <section class="modal-body">
          <section class="column">
            <label><input type="checkbox" class="checked" v-model="BBCNews"><span>BBC News</span></label>
            <label><input type="checkbox" class="checked" v-model="BBCSport"><span>BBC Sport</span></label>
            <label><input type="checkbox" class="checked" v-model="TheTelegraph"><span>The Telegraph</span></label>
            <label><input type="checkbox" class="checked" v-model="TheIndependent"><span>The Independent</span></label>
          </section>

          <section class="column">
            <label><input type="checkbox" class="checked" v-model="LadBible"><span>Lad Bible</span></label>
            <label><input type="checkbox" class="checked" v-model="HackerNews"><span>Hacker News</span></label>
            <label><input type="checkbox" class="checked" v-model="Reddit"><span>Reddit</span></label>
            <label><input type="checkbox" class="checked" v-model="ProductHunt"><span>Product Hunt</span></label>
          </section>

          <a class="modal-exit" v-on:click="settings_modal=!settings_modal">Close</a>
        </section>
      </section>
    </section>
  </transition>
{% endblock %}
