{% extends 'app.twig' %}

{% block content %}
  <section class="loading" v-if="loading">
    One Moment
  </section>

  <section class="item" v-for="item in items" v-else> <!-- start vue -->
    <img :src="item.image" :alt="item.service" v-if="item.image !== null">

    <h3 class="item__title">
      <a :href="item.link" target="_blank">
        ${ item.title }
      </a>
    </h3>

    <section class="item__author" v-if="item.author !== null">
      <p>Author: ${ item.author }</p>
    </section>

    <section class="item__reddit" v-if="item.subreddit !== null">
      <p>| Subreddit: <a :href="item.subreddit_link" target="_blank">r/${ item.subreddit }</a></p>
    </section>

    <section class="item__content" v-if="item.content !== null">
      <p>${ item.content }</p>
    </section>
  </section> <!-- end vue -->
{% endblock %}
